{  CIDER: {    dependencies: {      nuget: "",      tatin: "packages=Meddy",    },    dependencies_dev: {      tatin: "packages_dev=TestCases",    },    distributionFolder: "Dist",    init: "",    make: "Admin.Make",    parent: "#",    projectSpace: "Meddy",    project_url: "https://github.com",    source: "APLSource",    tests: "TestCases.RunTests",  },  LINK: {    forceFilenames: 1,    watch: "ns",  },  SYSVARS: {    io: 1,    ml: 1,  },  USER: {  },}
